/* infogra.ph Color Palette */

$darkblue: #172939;
$lightblue: #21a5b9;
$coral: #f96b61;
$textblue: #badee1;
$darktextblue: #49677c;
$lightgray: #d9d9d9;
$darkbackblue: #0B242F;
$darkbackblueopaque: rgba(11, 36, 47, 0.9);
$darkbackblueopaquelight: rgba(11, 36, 47, 0.4);
$text: #3B535D;

$twittercolor: #3596c9;
$facebookcolor: #163e52;

$elefint: #f05a22;