/* Images for infograph */

$recommendedthumb: url('images/recommendedthumb.jpg');
$smalllogo: url('images/smalllogo.jpg');
$largelogo: url('images/largelogo.jpg');
$listicon: url('images/listicon.jpg');
$close: url('images/close_x.svg');
$elefintlogo: url('images/elefintlogo.jpg');
$infoicon: url('images/info_icon.png');
$infoiconactive: url('images/info_icon_active.png');
$radialbg: url('images/radialbg.png');

//icons
$search:		"\f002";
$uparrow: 		"\f106";
$downarrow: 	"\f107"; 
$leftarrow:		"";
$rightarrow: 	"";
$close:			"\f00d";
$list: 			"\f0ca";
$envelope: 		"\f003";
$share: 		"\f064";
$twitter: 		"\f099";
$globe: 		"\f0ac";
$facebook: 		"\f09a";
$thumbup: 		"\f087";
$menu: 			"\f0c9";
$comments: 		"\f0e6";
$check:			"";

